{
  "service_account_key_file": "./packer/key-example.json",
  "ssh_private_key_file": "./packer/example_id_rsa",
  "folder_id": "00000000000000000000",
  "subnet_id": "00000000000000000000",
  "zone": "ru-central1-a",
  "source_image_id": "fd8odpuc1tuf9f21cg1c"
}
